.navbar.navbar-inverse.navbar-fixed-top{role:"navigation"}
  .container
    .navbar-header.row
      .col-xs-9
        %h1{style:"color:#f1f1f1"} Upcoming Project Milestones
      .col-xs-3
        %small{style:"color:#f5f5f5"} key:
        .label.label-success done
        .label.label-danger overdue
        .label.label-warning due today
        .label.label-primary due this sprint
        .label.label-default future

.container.main-area
  - @epics.each do |epic|
    %h3= epic[:epic_name]
    - epic[:milestones].each do |milestone|
      - label_class = "label-#{milestone[:state]}"
      %h4
        %div{class:"label #{label_class}"}
          = milestone[:name]
        - if milestone[:resolved_at]
          %small{style:"padding-left: 20px"}= "Completed: #{milestone[:resolved_at].strftime("%a %d %b")}"
        - else
          %small{style:"padding-left: 20px"}= "Due: #{milestone[:due_at].strftime("%a %d %b")}"
        - if milestone[:warning]
          %small{style:"color:red"}= milestone[:warning]
    %hr
